@model ATNB.Model.AirPort

@{
    ViewBag.Title = "Details";
}

<h2>Details AirPort</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunwaySize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunwaySize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxFWParkingPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxFWParkingPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxRWParkingPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxRWParkingPlace)
        </dd>

        @*airplanes*@
        <dt>
            @Html.DisplayNameFor(model => model.AirPlanes)
        </dt>

        <dd>
            @Html.DropDownList("AirPlaneId", null, htmlAttributes: new { @class = "form-control" })
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
