@*@model IEnumerable<ATNB.Model.AirPort>*@

@model ATNB.Web.Models.AirPortIndexData

@{
    ViewBag.Title = "AirPort Manager";
}

<h2>All AirPorts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                List AirPorts
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>RunwaySize</th>
                            <th>MaxFWParkingPlace</th>
                            <th>MaxRWParkingPlace</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.AirPorts)
                        {
                            string selectedRow = "";
                            if (item.Id == ViewBag.AirPortID)
                            {
                                selectedRow = "selectedrow";
                            }
                            <tr class="@selectedRow">
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.RunwaySize
                                </td>
                                <td>
                                    @item.MaxFWParkingPlace
                                </td>
                                <td>
                                    @item.MaxRWParkingPlace
                                </td>
                                <td>
                                    @Html.ActionLink("Select", "Index", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    @if (Model.AirPlanes != null)
    {
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    AirPlanes of AirPort @ViewBag.AirPortID
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Model</th>
                                    <th>Airplane Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AirPlanes)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Model</td>
                                        <td>@item.AirPlaneType</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    
    @if (Model.Helicopters != null)
    {
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Helicopters of AirPort @ViewBag.AirPortID
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Model</th>
                                    <th>Range</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Helicopters)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Model</td>
                                        <td>@item.Range</td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="3">
                                        Add one or more Helicopter(s) | Remove one or more Helicopter(s)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>