@model IEnumerable<ATNB.Model.AirPlane>

@{
    ViewBag.Title = "AirPlane Managerment";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                List AirPlanes
            </div>
            <div class="panel-body">
                <table width="100%" class="table" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Model)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AirPlaneType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CruiseSpeed)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmptyWeight)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaxTakeoffWeight)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MinNeededRunwaySize)
                            </th>
                            <th>
                                AirPort Id
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AirPort.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Model)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AirPlaneType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CruiseSpeed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmptyWeight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaxTakeoffWeight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MinNeededRunwaySize)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AirPort.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AirPort.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>